@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/muli");
#preload-images {
  background-image: url("../../../public/img/services-icons/cards-icons/full-nft.svg"), url("../../../public/img/services-icons/cards-icons/mint-web.svg"), url("../../../public/img/services-icons/cards-icons/frontend.svg"), url("../../../public/img/services-icons/cards-icons/marketplace.svg"), url("../../../public/img/services-icons/cards-icons/staking.svg"), url("../../../public/img/services-icons/cards-icons/marketing.svg"), url("../../../public/img/services-icons/cards-icons/active-icons/full-nft.png"), url("../../../public/img/services-icons/cards-icons/active-icons/mint-web.svg"), url("../../../public/img/services-icons/cards-icons/active-icons/frontend.png"), "../../../public/img/services-icons/cards-icons/active-icons/marketplace.png", url("../../../public/img/services-icons/cards-icons/active-icons/staking.png"), url("../../../img/nav-icons/menu-hover.svg"), url("../../../img/general-icons/arrow-rounded.svg"), url("../../../img/general-icons/arrow-rounded-active.svg"), url("../../../img/team-icons/instagram.svg"), url("../../../img/team-icons/linkedin.svg"), url("../../../img/team-icons/instagram-active.png"), url("../../../img/team-icons/linkedin-active.svg"), url("../../../img/general-icons/background-1.svg"), url("../../../img/general-icons/background-2.svg"), url("../../../img/general-icons/background-3.svg");
  width: 0;
  height: 0;
}

* {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

:root {
  --fullWhite: #FFFFFF;
  --white: #FAFAFA;
  --mediumWhite:#F5F5F5;
  --grey: #ABA8AA;
  --ligthGrey: #B5B1B1;
  --darkGrey: #707070;
  --mediumGrey: #A29D9D;
  --mediumGrey2:#ABA8AA;
  --yellow: #DD0000;
  --bgSideMenu: #181219;
  --bgPrimary: #080005;
  --bgCards: #1E1518;
  --bgContact: #170F14;
  --bgSelected: #281f21;
  --shadow: #FFFFFF29;
  --blackshadow: #00000029;
}

.navbar {
  padding: 10px 0;
  background-color: transparent;
}

.navbar img {
  height: 70px;
  width: auto;
}

.navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  border: 0;
  background-color: transparent;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.navbar .navbar-toggler span {
  background-image: url("../../../img/nav-icons/menu.svg");
}

.navbar .navbar-toggler span:focus, .navbar .navbar-toggler span:hover {
  background-image: url("../../../img/nav-icons/menu-hover.svg");
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.navbar .navbar-brand {
  margin-right: 0;
}

.navbar .offcanvas {
  background-color: var(--bgSideMenu);
}

.navbar .offcanvas .offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 25px;
}

.navbar .offcanvas .offcanvas-header .btn-close {
  background-image: url("../../../img/nav-icons/close.svg");
  opacity: 1;
  position: absolute;
  right: 25px;
  background-size: 60%;
}

.navbar .offcanvas .offcanvas-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: none;
}

.navbar .offcanvas .offcanvas-body {
  padding-top: 10%;
}

.navbar .offcanvas .offcanvas-body ul {
  padding-right: 0;
}

.navbar .offcanvas .offcanvas-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .offcanvas .offcanvas-body ul li a, .navbar .offcanvas .offcanvas-body ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.3px;
  padding: 12px 0;
  background-color: transparent;
  border: 0;
}

.navbar .offcanvas .offcanvas-body ul li a:focus, .navbar .offcanvas .offcanvas-body ul li a:hover, .navbar .offcanvas .offcanvas-body ul li button:focus, .navbar .offcanvas .offcanvas-body ul li button:hover {
  color: var(--yellow);
  font-weight: 600;
}

.navbar .offcanvas .offcanvas-body ul li .active {
  color: var(--yellow);
  font-weight: 600;
}

.navbar .flag {
  max-height: 15px !important;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbar {
    background-color: transparent;
  }
  .navbar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar ul li a, .navbar ul li button {
    color: var(--white);
    padding: 0;
    text-transform: uppercase;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: 0;
  }
  .navbar ul li a:before, .navbar ul li button:before {
    content: '';
    position: absolute;
    background-image: url("../../../img/nav-icons/arrow-link.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66%;
    height: 10px;
    width: 20px;
    display: block;
    bottom: -15px;
    opacity: 0;
  }
  .navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li button:hover, .navbar ul li button:focus {
    color: var(--yellow);
  }
  .navbar ul li a:hover:before, .navbar ul li a:focus:before, .navbar ul li button:hover:before, .navbar ul li button:focus:before {
    opacity: 1;
  }
  .navbar ul li .dropdown-toggle {
    border: 0;
    background-color: transparent;
  }
  .navbar ul li .dropdown-toggle:focus {
    outline: 0;
  }
  .navbar ul .exception button {
    padding-left: 15px;
  }
  .navbar ul .exception button:hover, .navbar ul .exception button:focus {
    color: var(--yellow);
  }
  .navbar ul .exception button:hover:before, .navbar ul .exception button:focus:before {
    display: none;
  }
  .navbar .navbar-nav .nav-link.show {
    color: var(--yellow);
  }
  .navbar .nav-item {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .navbar .exception button {
    padding-left: 12px;
  }
  .navbar .nav-item {
    padding: 0 12px;
  }
}

@media (min-width: 1366px) {
  .navbar .exception button {
    padding-left: 25px;
  }
  .navbar .nav-item {
    padding: 0 25px;
  }
}

.navbar .dropdown-menu {
  position: absolute;
  left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bgSideMenu);
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    border: 0;
  }
}

.navbar .dropdown-menu li:hover, .navbar .dropdown-menu li:focus {
  background-color: #181219;
}

.navbar .dropdown-menu li:hover a, .navbar .dropdown-menu li:focus a {
  color: var8--yellow;
}

.navbar .dropdown-menu a {
  padding-bottom: 7px;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
  color: var(--yellow);
  background-color: #181219;
}

.navbar .dropdown-menu a:hover:before, .navbar .dropdown-menu a:focus:before {
  display: none;
}

.navbar .dropdown-toggle:hover::after {
  -webkit-transition: all ease-in 0.19s;
  transition: all ease-in 0.19s;
  background-image: url("../../../img/nav-icons/language/arrow-active.svg");
}

.navbar .dropdown-toggle.show::after {
  -webkit-transition: all ease-in 0.19s;
  transition: all ease-in 0.19s;
  background-image: url("../../../img/nav-icons/language/arrow-active.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .dropdown-toggle::after {
  background-image: url("../../../img/nav-icons/language/arrow.svg");
  border: 0;
  width: 20px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 66%;
  -webkit-transition: all ease-in 0.19s;
  transition: all ease-in 0.19s;
}

.background-color {
  background-color: var(--bgPrimary) !important;
}

body {
  background-color: var(--bgPrimary);
}

@media (max-width: 500px) {
  body {
    margin-top: 0vw;
  }
}

.background {
  background-image: url("../../../img/general-icons/vulcano.svg");
  height: 100vh;
  width: 100%;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.background h1 {
  color: var(--white);
  font-size: 38px;
  font-family: 'Muli', 'Poppins';
  font-weight: 800;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40vw 0;
}

.background h1 b {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--yellow);
  color: transparent;
  font-size: 38px;
  font-family: 'Muli', 'Poppins';
  font-weight: 800;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background a {
  height: 40px;
  width: 40px;
}

.background .flex-fix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 540px) {
  .background {
    background-image: url("../../../img/general-icons/vulcano-mobile.svg");
    background-position: top center;
    background-size: cover;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .background {
    background-image: url("../../../img/general-icons/background-1-desk.svg");
    background-position: top center;
    background-size: 100% 100%;
    height: 100vh;
  }
}

@media (min-width: 600px) {
  .background .flex-fix {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 700px) {
  .background h1 {
    padding: 35vw 0;
  }
}

@media (min-width: 800px) {
  .background h1 {
    padding: 30vw 0;
  }
}

@media (min-width: 850px) {
  .background h1 {
    padding: 25vw 0;
  }
}

@media (min-width: 992px) {
  .background a {
    height: 57px;
    width: 57px;
  }
  .background a i {
    width: 100%;
    height: 100%;
  }
  .background h1 {
    padding: 20vw 0;
  }
}

@media (min-width: 1300px) {
  .background h1 {
    padding: 18vw 0;
    font-size: 75px;
  }
  .background h1 b {
    font-size: 75px;
  }
}

@media (min-width: 1500px) {
  .background h1 {
    padding: 16vw 0;
  }
}

@media (min-width: 1600px) {
  .background h1 {
    padding: 15vw 0;
  }
}

@media (min-width: 1800px) {
  .background h1 {
    padding: 14vw 0;
  }
}

@media (min-width: 1900px) {
  .background h1 {
    padding: 13.5vw 0;
  }
}

.section h2 {
  color: var(--white);
  font-size: 28px;
  font-family: 'Muli', 'Poppins';
  font-weight: 700;
  text-align: left;
  padding-top: 20px;
}

.section p {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 20px 0;
}

.about .yellow {
  color: var(--yellow);
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 16px;
}

.about .no-padding {
  padding-bottom: 0;
  padding-top: 0px;
}

.about .grey {
  color: var(--grey);
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  color: var(--yellow);
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about ul li::before {
  content: '';
  position: absolute;
  background-image: url("../../../img/about-icons/tick.svg");
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  left: 0;
}

@media (max-width: 992px) {
  .about .img {
    max-height: 500px;
  }
}

@media (min-width: 992px) {
  .about .img {
    height: 500px;
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .about li, .about p, .about b {
    font-size: 18px;
  }
  .about .grey {
    font-size: 16px;
  }
}

.services, .portfolio {
  padding: 30px 0px;
}

.services .yellow, .portfolio .yellow {
  color: var(--yellow);
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 16px;
}

.services .card-grey-container, .portfolio .card-grey-container {
  margin: 25px 0;
}

@media (min-width: 992px) {
  .services .card-grey-container, .portfolio .card-grey-container {
    padding: 0;
    width: 48%;
  }
}

.services .card-grey, .portfolio .card-grey {
  background-color: var(--bgCards);
  -webkit-box-shadow: 0px 3px 6px var(--shadow);
          box-shadow: 0px 3px 6px var(--shadow);
  border-radius: 15px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  position: relative;
}

.services .card-grey::-webkit-scrollbar, .portfolio .card-grey::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

.services .card-grey p, .portfolio .card-grey p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  max-width: 72%;
}

.services .card-grey img, .portfolio .card-grey img {
  margin-right: 15px;
}

.services .card-grey .info, .services .card-grey .info-hover, .portfolio .card-grey .info, .portfolio .card-grey .info-hover {
  background-color: var(--bgCards);
  border-radius: 15px;
  max-height: 140px;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

.services .card-grey .info::-webkit-scrollbar, .services .card-grey .info-hover::-webkit-scrollbar, .portfolio .card-grey .info::-webkit-scrollbar, .portfolio .card-grey .info-hover::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  margin-right: 30px;
}

.services .card-grey .info::-webkit-scrollbar-thumb, .services .card-grey .info-hover::-webkit-scrollbar-thumb, .portfolio .card-grey .info::-webkit-scrollbar-thumb, .portfolio .card-grey .info-hover::-webkit-scrollbar-thumb {
  background-color: #7070708a;
  border-radius: 50px;
}

.services .card-grey .info-hover, .portfolio .card-grey .info-hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bgCards);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-animation: fade-out-cards 0.7s ease-out forwards;
          animation: fade-out-cards 0.7s ease-out forwards;
}

.services .card-grey .info, .portfolio .card-grey .info {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: fade-in-cards 0.2s ease-out forwards;
          animation: fade-in-cards 0.2s ease-out forwards;
}

.services .card-grey .info p, .portfolio .card-grey .info p {
  text-transform: uppercase;
}

.services .card-grey:focus .info, .services .card-grey:hover .info, .portfolio .card-grey:focus .info, .portfolio .card-grey:hover .info {
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-animation: fade-out-cards 0.7s ease-out forwards;
          animation: fade-out-cards 0.7s ease-out forwards;
}

.services .card-grey:focus .info-hover, .services .card-grey:hover .info-hover, .portfolio .card-grey:focus .info-hover, .portfolio .card-grey:hover .info-hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: fade-in-cards 0.2s ease-out forwards;
          animation: fade-in-cards 0.2s ease-out forwards;
  border: 2px solid var(--yellow);
  border-radius: 15px;
}

.services .card-grey:focus .info-hover p, .services .card-grey:hover .info-hover p, .portfolio .card-grey:focus .info-hover p, .portfolio .card-grey:hover .info-hover p {
  text-transform: none;
  color: var(--ligthGrey);
}

.background-2 {
  position: relative;
}

.background-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../../img/general-icons/background-2.svg");
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-position: left top;
  background-size: 100%;
}

@media (min-width: 992px) {
  .background-2:before {
    background-image: none;
  }
}

.portfolio .scroll {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .portfolio .scroll {
    overflow: hidden;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio .row_scroll {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: calc(100% + 30vw);
}

@media (min-width: 425px) {
  .portfolio .row_scroll {
    min-width: calc(100% + 20vw);
  }
  .portfolio .row_scroll .row_flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .portfolio .row_scroll {
    min-width: calc(100%);
  }
}

.portfolio .card-scroll {
  background-color: var(--bgCards);
  border-radius: 15px;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 15px 10px 0;
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: 130px;
  padding: 0 15px;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (min-width: 992px) {
  .portfolio .card-scroll {
    margin-right: 10px;
  }
}

.portfolio .card-scroll p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 0;
  color: var(--grey);
}

.portfolio .card-scroll i {
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-width: 30px;
  min-height: 27px;
}

.portfolio .card-scroll .nft {
  background-image: url("../../../public/img/services-icons/cards-icons/full-nft.svg");
  min-height: 32px !important;
  min-width: 32px !important;
}

.portfolio .card-scroll .mint {
  background-image: url("../../../public/img/services-icons/cards-icons/mint-web.svg");
}

.portfolio .card-scroll .front {
  background-image: url("../../../public/img/services-icons/cards-icons/frontend.svg");
}

.portfolio .card-scroll .marketplace {
  background-image: url("../../../public/img/services-icons/cards-icons/marketplace.svg");
  background-size: contain;
  height: 28px !important;
  width: 28px !important;
}

.portfolio .card-scroll .staking {
  background-image: url("../../../public/img/services-icons/cards-icons/staking.svg");
}

.portfolio .card-scroll .marketing {
  background-image: url("../../../public/img/services-icons/cards-icons/marketing.svg");
}

.portfolio .card-scroll .token {
  background-image: url("../../../public/img/services-icons/cards-icons/assets-token.svg");
}

.portfolio .card-scroll .dapps {
  background-image: url("../../../public/img/services-icons/cards-icons/smart.svg");
}

.portfolio .card-scroll:focus, .portfolio .card-scroll:hover {
  border: 2px solid var(--yellow);
}

.portfolio .card-scroll:focus p, .portfolio .card-scroll:hover p {
  color: var(--yellow);
}

.portfolio .card-scroll:focus .nft, .portfolio .card-scroll:hover .nft {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/full-nft.png");
  background-size: contain;
  min-height: 32px !important;
  min-width: 32px !important;
}

.portfolio .card-scroll:focus .mint, .portfolio .card-scroll:hover .mint {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/mint-web.svg");
  background-size: contain;
}

.portfolio .card-scroll:focus .front, .portfolio .card-scroll:hover .front {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/frontend.png");
  background-size: 100%;
}

.portfolio .card-scroll:focus .marketplace, .portfolio .card-scroll:hover .marketplace {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/marketplace.png");
  background-size: contain;
  height: 28px !important;
  width: 28px !important;
}

.portfolio .card-scroll:focus .staking, .portfolio .card-scroll:hover .staking {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/staking.png");
  background-size: contain;
}

.portfolio .card-scroll:focus .token, .portfolio .card-scroll:hover .token {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/assets-token.png");
  background-size: contain;
}

.portfolio .card-scroll:focus .dapps, .portfolio .card-scroll:hover .dapps {
  background-image: url("../../../public/img/services-icons/cards-icons/active-icons/smart.svg");
}

.portfolio .cards-portfolio {
  margin: 0 0 10px 0;
}

@media (min-width: 992px) {
  .portfolio .cards-portfolio {
    margin: 20px 0;
  }
}

.portfolio .cards-portfolio .info {
  position: relative;
  background-color: transparent !important;
}

.portfolio .cards-portfolio .info .img {
  max-height: 100%;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .portfolio .cards-portfolio .info .img {
    height: 400px;
    min-width: 100%;
  }
}

.portfolio .cards-portfolio .info-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-radius: 15px;
  padding: 30px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent, #000);
}

.portfolio .cards-portfolio .info-hover h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: var(--fullWhite);
}

.portfolio .cards-portfolio .info-hover p {
  text-transform: none;
  color: var(--white);
  text-align: left;
  padding-top: 15px;
  padding-bottom: 0;
}

.team .large-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Muli', 'Poppins';
  color: var(--yellow);
  padding: 10px 0;
}

.team .name-creator {
  color: var(--white);
  font-size: 20px;
  font-family: 'Muli', 'Poppins';
  font-weight: 700;
  text-align: center;
}

.team .p-creator {
  padding: 10px 0;
  color: var(--mediumGrey);
}

.team .social {
  height: 52px;
  width: 52px;
  border-radius: 15px;
  background-color: var(--bgCards);
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .social i {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  display: block;
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

.team .social .instagram {
  background-image: url("../../../img/team-icons/instagram.svg");
}

.team .social .linkedin {
  background-image: url("../../../img/team-icons/linkedin.svg");
}

.team .social:focus .instagram, .team .social:hover .instagram {
  background-image: url("../../../img/team-icons/instagram-active.png");
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

.team .social:focus .linkedin, .team .social:hover .linkedin {
  background-image: url("../../../img/team-icons/linkedin-active.svg");
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

.team .padding {
  padding-top: 10px;
}

.team .fix {
  position: relative;
  margin-top: 52px;
}

.team .img-fix {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

@media (max-width: 992px) {
  .team .img-fix {
    max-width: 320px;
  }
}

@media (min-width: 1366px) {
  .team .img-fix {
    min-height: 350px;
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.background-3 {
  position: relative;
  background-image: url("../../../img/general-icons/background-3.svg");
  background-repeat: no-repeat;
  height: auto;
  background-position: left bottom;
  background-size: 100%;
  z-index: 1;
}

@media (min-width: 992px) {
  .background-3 {
    background-image: url("../../../img/general-icons/background-3-desk.svg");
  }
}

.background-3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff00), color-stop(#ffffff00), to(#080005));
  background-image: linear-gradient(to top, #ffffff00, #ffffff00, #080005);
  z-index: -1;
}

.contact {
  padding-top: 50px;
}

.contact .yellow {
  color: var(--yellow);
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 16px;
}

@media (min-width: 992px) {
  .contact .container-card {
    max-width: 405px;
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .contact .container-card {
    max-width: 450px;
  }
}

.contact .card-grey {
  background-color: var(--bgContact);
  -webkit-box-shadow: 0px 3px 6px var(--blackshadow);
          box-shadow: 0px 3px 6px var(--blackshadow);
  border-radius: 15px;
  padding: 50px 25px;
}

@media (min-width: 992px) {
  .contact .card-grey {
    max-height: 420px;
    padding: 35px;
    border-radius: 8px;
  }
  .contact .card-grey p {
    padding: 10px 0;
  }
}

.contact .info {
  padding: 0;
}

.contact .info img {
  padding-right: 20px;
}

.contact h3 {
  color: var(--mediumWhite);
  font-size: 16px;
  font-family: 'Muli', 'Poppins';
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.contact .title {
  font-size: 40px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
}

@media (min-width: 992px) {
  .contact .title {
    font-size: 60px;
  }
}

.contact p, .contact a {
  color: var(--darkGrey);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.contact .subtitle {
  font-size: 26px;
  color: var(--white);
  font-weight: 400;
  text-transform: none;
  text-align: left;
}

.contact .subtitle span {
  color: var(--yellow);
  font-size: 26px;
  font-weight: 600;
}

.contact .solid {
  font-weight: 600;
}

.contact .form {
  margin: 60px 0;
}

@media (min-width: 992px) {
  .contact .form {
    margin: 0;
  }
}

.contact .form h3 {
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--mediumGrey2);
  text-transform: uppercase;
}

.contact .form input, .contact .form textarea {
  background-color: var(--bgContact);
  -webkit-box-shadow: 0px 3px 6px var(--blackshadow);
          box-shadow: 0px 3px 6px var(--blackshadow);
  border: 0;
  border-radius: 8px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
  min-height: 45px;
  width: 100%;
  padding-left: 15px;
}

.contact .form input:focus, .contact .form textarea:focus {
  outline: 0;
}

.contact .form textarea {
  height: 145px;
  padding-top: 15px;
}

.contact .form .vue-tel-input {
  width: 100%;
  margin-bottom: 5px 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form .vue-tel-input:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.contact .form .vue-tel-input .vti__dropdown {
  background-color: var(--bgContact);
  height: 45px;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form .vue-tel-input .vti__dropdown:before {
  content: '';
  position: absolute;
  right: 0;
  height: 70%;
  width: 1px;
  background-color: var(--white);
}

.contact .form .vue-tel-input .vti__selection .vti__country-code {
  color: var(--white);
}

.contact .form .vue-tel-input .vti__dropdown.open .span_img img {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact .form .vue-tel-input .span_img {
  margin: 0 5px;
}

.contact .form .vue-tel-input .span_img img {
  border: 0;
  height: 10px;
  width: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.contact .form .vue-tel-input input {
  padding-left: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.contact .form .vue-tel-input input[type=number]::-webkit-inner-spin-button,
.contact .form .vue-tel-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact .form .vue-tel-input input[type=number] {
  -moz-appearance: textfield;
}

.contact a {
  text-decoration: none;
  padding-top: 10px;
}

.contact a:focus, .contact a:hover {
  color: var(--grey);
}

.contact .m-input-wrapper-right {
  background-color: var(--bgContact);
}

.contact .m-select-input__toggle-button {
  border-right: 1px solid var(--white) !important;
  padding: 0 !important;
}

.contact .m-select-input__toggle-button svg {
  margin-right: 15px;
}

.contact .m-input-wrapper.--default-border {
  border: 0;
}

.contact .m-input-wrapper {
  background-color: var(--bgContact) !important;
  border: 0 !important;
  color: var(--white);
}

.contact .m-input-wrapper-input input {
  padding-left: 1rem !important;
}

.contact .maz-border-info {
  border: 0;
}

.contact .m-select .m-select-chevron {
  color: var(--white) !important;
}

.contact .m-select-list {
  background-color: var(--bgContact) !important;
  -webkit-box-shadow: 0px 3px 6px var(--shadow);
          box-shadow: 0px 3px 6px var(--shadow);
}

.contact .m-select-list__wrapper {
  background-color: var(--bgCards) !important;
  border: 0 !important;
}

.contact .m-select-list__search-wrapper {
  background-color: var(--bgContact) !important;
  border-bottom: 1px solid var(--white) !important;
}

.contact .m-select-list__scroll-wrapper {
  background-color: var(--bgContact) !important;
}

.contact .m-select-list__scroll-wrapper button .maz-text-muted, .contact .m-select-list__scroll-wrapper button .maz-truncate {
  color: var(--white);
}

.contact .m-select-list__scroll-wrapper .m-input-wrapper.--default-border {
  border: 0;
}

.contact .m-select-list__scroll-wrapper .m-input {
  border: 0;
}

.contact .maz-flag {
  margin-bottom: 6px;
  margin-right: 5px;
}

.contact .m-select .m-select-list-item.--is-selected.--info {
  background-color: var(--bgSelected) !important;
}

.contact .m-input-wrapper .m-select-input {
  margin-left: 7px;
}

.contact .m-select .m-select-list-item:hover {
  background-color: var(--bgSelected) !important;
}

.tick span {
  color: var(--white) !important;
  font-size: 48px !important;
}

.tick .tick-flip {
  min-width: 1.2em;
}

.pricing {
  margin-bottom: 20px;
  max-width: none !important;
}

.pricing .card-grey {
  max-height: none !important;
}

.pricing h3 {
  font-size: 42px;
  font-weight: 800;
  padding-right: 5px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pricing h3 img {
  max-height: 40px;
  padding-right: 10px !important;
}

.pricing p {
  color: var(--fullWhite);
  font-weight: 300;
  font-size: 14px;
}

.pricing button {
  border: 2px solid transparent;
  background-color: var(--yellow);
  border-radius: 29px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: var(--fullWhite);
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0;
  max-width: 250px;
}

.pricing button:focus, .pricing button:hover {
  background-color: rgba(221, 0, 0, 0.7);
}

.pricing .check {
  height: 30px;
  padding-right: 5px !important;
}

.pricing .check + p {
  padding: 10px 0;
}

.pricing .basic-fix {
  min-height: 11vw;
}

@media (min-width: 992px) {
  .padding-lg {
    padding-bottom: 5vw;
  }
  .padding-top {
    padding-top: 10vh;
  }
}

footer img {
  height: 70px;
}

footer .copy {
  color: var(--fullWhite);
  font-size: 12px;
  text-align: center;
  padding: 20px 0 0 0;
}

footer .social {
  height: 60px;
}

footer .social a i {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: block;
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
  margin: 15px;
}

footer .social a .twitter {
  background-image: url("../../../img/team-icons/twitter.svg");
}

footer .social a .instagram {
  background-image: url("../../../img/team-icons/instagram.svg");
  width: 25px;
  height: 25px;
}

footer .social a .linkedin {
  background-image: url("../../../img/team-icons/linkedin.svg");
  width: 25px;
  height: 25px;
}

footer .social a:focus .twitter, footer .social a:hover .twitter {
  background-image: url("../../../img/team-icons/twitter-active.svg");
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

footer .social a:focus .instagram, footer .social a:hover .instagram {
  background-image: url("../../../img/team-icons/instagram-active.png");
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

footer .social a:focus .linkedin, footer .social a:hover .linkedin {
  background-image: url("../../../img/team-icons/linkedin-active.svg");
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

@media (min-width: 992px) {
  footer {
    height: 250px;
    position: relative;
  }
  footer::before {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    background-image: url("../../../img/general-icons/background-4.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
    height: 310px;
    width: 600px;
  }
  footer .copy {
    font-size: 16px;
    padding-top: 30px;
  }
}

.alert {
  opacity: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-animation: fade-in-cards 0.5s ease-out forwards;
          animation: fade-in-cards 0.5s ease-out forwards;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert p {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.alert-container {
  height: 60px;
}

.arrow {
  width: 40px;
  height: 40px;
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
  background-color: transparent;
  border: 0;
}

.arrow i {
  background-image: url("../../../img/general-icons/arrow-rounded.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  display: block;
}

.arrow:focus i, .arrow:hover i {
  background-image: url("../../../img/general-icons/arrow-rounded-active.svg");
}

@media (min-width: 992px) {
  .arrow {
    width: 70px;
    height: 70px;
  }
  .arrow i {
    width: 70px;
    height: 70px;
  }
}

.see-more {
  border: 2px solid var(--fullWhite);
  background-color: transparent;
  border-radius: 29px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0;
  max-width: 250px;
}

.see-more:focus, .see-more:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

.all {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  border: 0;
}

.all:focus, .all:hover {
  color: var(--yellow);
}

.back-to-top {
  background-color: var(--fullWhite);
  border: 0;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  position: fixed;
  bottom: 100px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-in 0.5s ease-in forwards;
          animation: fade-in 0.5s ease-in forwards;
  z-index: 99;
  cursor: pointer;
}

.back-to-top i {
  background-image: url("../../../img/general-icons/arrow-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
}

.back-to-top:focus i, .back-to-top:hover i {
  background-image: url("../../../img/general-icons/arrow-up-active.svg");
}

@media (min-width: 992px) {
  .back-to-top {
    width: 69px;
    height: 69px;
    bottom: 50px;
  }
  .back-to-top i {
    height: 25px;
  }
}

.whatsapp {
  background-color: var(--fullWhite);
  border: 0;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  position: fixed;
  bottom: 90px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  -webkit-animation: fade-in 0.2s ease-in;
          animation: fade-in 0.2s ease-in;
  z-index: 99;
  cursor: pointer;
}

.whatsapp img {
  height: 30px;
}

.whatsapp:focus img, .whatsapp:hover img {
  height: 35px;
}

@media (min-width: 992px) {
  .whatsapp {
    width: 69px;
    height: 69px;
    bottom: 50px;
    right: 30px;
  }
  .whatsapp img {
    height: 40px;
  }
  .whatsapp:focus img, .whatsapp:hover img {
    height: 45px;
    -webkit-animation: fade-in 0.5s ease-out;
            animation: fade-in 0.5s ease-out;
  }
}

.btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in-cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-cards {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-cards {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.img_subty {
  height: 200px;
}

.background-one {
  background-image: url("../../../img/general-icons/background-one.jpg");
  background-repeat: no-repeat;
  background-size: 178% 94%;
  background-position-y: 120px;
}

@media (min-width: 992px) {
  .background-one {
    background-size: 100% 100%;
  }
}

.form-fix {
  padding: 15px;
  background-color: #080005a8;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .contact-fix {
    padding-top: 100px;
  }
}

.see-more-fix {
  background-color: var(--bgCards);
  border: 0;
}

.see-more-fix:focus, .see-more-fix:hover {
  background-color: #160e12;
  color: var(--white);
}
/*# sourceMappingURL=styles.css.map */